<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    {{usuarioLogeado.auth.displayName}}
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <div *ngFor="let rtaPPT of respuestasPPT; let i=index">
    <div *ngIf="i<10">
      <ion-card>      
        <ion-card-header>
          {{rtaPPT.nombre}}
        </ion-card-header>  
        <ion-card-content *ngIf="rtaPPT.resultado == 'GANASTE'">
          <p style='color:green'>{{rtaPPT.resultado}}</p>  
          <p style='color:green'>{{rtaPPT.fecha}}</p>   
        </ion-card-content>     
        <ion-card-content *ngIf="rtaPPT.resultado == 'PERDISTE'">
          <p style='color:red'>{{rtaPPT.resultado}}</p>  
          <p style='color:red'>{{rtaPPT.fecha}}</p> 
        </ion-card-content> 
        <ion-card-content *ngIf="rtaPPT.resultado == 'EMPATASTE'">
          <p style='color:orange'>{{rtaPPT.resultado}}</p>  
          <p style='color:orange'>{{rtaPPT.fecha}}</p> 
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
